.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.12.18081601-MSVC_2/CMakeCCompiler.cmake
build/CMakeFiles/3.12.18081601-MSVC_2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.12.18081601-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.12.18081601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.12.18081601-MSVC_2/CMakeRCCompiler.cmake
build/CMakeFiles/3.12.18081601-MSVC_2/CMakeSystem.cmake
build/CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/a.exe
build/CMakeFiles/3.12.18081601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/a.exe
build/CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/exercicioPratico02.dir/build.make
build/CMakeFiles/exercicioPratico02.dir/cmake_clean.cmake
build/CMakeFiles/exercicioPratico02.dir/CXX.includecache
build/CMakeFiles/exercicioPratico02.dir/depend.internal
build/CMakeFiles/exercicioPratico02.dir/depend.make
build/CMakeFiles/exercicioPratico02.dir/DependInfo.cmake
build/CMakeFiles/exercicioPratico02.dir/flags.make
build/CMakeFiles/exercicioPratico02.dir/includes_CXX.rsp
build/CMakeFiles/exercicioPratico02.dir/link.txt
build/CMakeFiles/exercicioPratico02.dir/linklibs.rsp
build/CMakeFiles/exercicioPratico02.dir/main.cpp.obj
build/CMakeFiles/exercicioPratico02.dir/objects.a
build/CMakeFiles/exercicioPratico02.dir/objects1.rsp
build/CMakeFiles/exercicioPratico02.dir/progress.make
build/lib/cmake_install.cmake
build/lib/liblib.a
build/lib/Makefile
build/lib/CMakeFiles/CMakeDirectoryInformation.cmake
build/lib/CMakeFiles/progress.marks
build/lib/CMakeFiles/lib.dir/build.make
build/lib/CMakeFiles/lib.dir/cmake_clean_target.cmake
build/lib/CMakeFiles/lib.dir/cmake_clean.cmake
build/lib/CMakeFiles/lib.dir/CXX.includecache
build/lib/CMakeFiles/lib.dir/depend.internal
build/lib/CMakeFiles/lib.dir/depend.make
build/lib/CMakeFiles/lib.dir/DependInfo.cmake
build/lib/CMakeFiles/lib.dir/flags.make
build/lib/CMakeFiles/lib.dir/includes_CXX.rsp
build/lib/CMakeFiles/lib.dir/link.txt
build/lib/CMakeFiles/lib.dir/Menu.cpp.obj
build/lib/CMakeFiles/lib.dir/progress.make
out/exercicioPratico02.exe
.vscode/c_cpp_properties.json
build/lib/CMakeFiles/lib.dir/Coluna.cpp.obj
build/lib/CMakeFiles/lib.dir/Transcritor.cpp.obj
